@keyframes pulse {
    0%, 100% {
      color: #ffffff4b;
    }
    50% {
      color: #ffffff;
    }
  }

@keyframes pulseKey {
    0%, 100% {
      scale: 90%;
    }
    50% {
      scale: 100%;
    }
  }
html, body {
    margin: 0; height: 100%; 
    font-family: "Poppins","Helvetica","Arial",sans-serif;
    font-weight: 800;
    overflow:hidden;
    display: flex;
    position: absolute;
    user-select: none;
    background-color: #1e1e1e;
    touch-action: none;
}

#hotbar {
    align-items: stretch;
    background: #1e1e1e;
    bottom: 0;
    display:flex;
    flex-direction: column;
    height: 370px;
    min-height: 227px;
    left: 0;
    position: fixed;
    width: 100%;
    
}

#score {
    position:absolute;
    bottom: 380px;
    left: 15px;
    color:#ffffff;
}

#keybinds
{
    height: 220px;
    width: 260px;

    position:absolute;
    right:0px;
}
.keybinds-box{
    width: 85%;
    height: 50px;
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.keybinds-box #text {
    text-align: center;
    font-size: 20px;
    color: white;
    position:absolute;
    padding-right: 10px;
    padding-top: 10px;
    width: 60%;
}

.keybinds-box #button {
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 30px;
}

#loading {
    z-index: 1;
    background-color: #007acc;
    height: 100vh;
    width:100vw;
    position: absolute;
    transition: 1500ms;
    text-align: center;
    color: #ffffff;
    padding-top: 40vh;
    font-size: 10vh;
}

#subtext {
   font-size: 3.5vh;
   color: #ffffff;
   animation: pulse 2s infinite;
}

#output {
    background-color: #007acc;
    appearance: none;
    border: 0;
    bottom: 25vh;
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    height  : 95px;
    padding: 5px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    visibility: visible;
    vertical-align: middle;
    margin-left: 0px;
    transition: 300ms;
}

#button-box {
    background-color: #1e1e1e;
    align-items: flex-end;
    justify-content: center;
    display: flex; 
    height: 100%;
    padding: 15px 20px 25px;
    gap: 1rem;
    flex-direction: row;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    
    margin-top: 32px;
}

.dot, .dash {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
    flex-basis: 100%;
}

#space{
    position: absolute;
    height: 233px;
    width: 100px;
    bottom: 25px;
    left: 20vw;
   
}

.space{
    appearance: none;
    background: #007acc;
    border: 0;
    border-radius: 10px;
    box-shadow: #085488 0 8px 0;
    height: 100%;
    outline: 0;
    width: 100%;
}

#dot{
    appearance: none;
    align-items: center;
    background: #007acc;
    border: 0;
    border-radius: 10px;
    box-shadow: #085488 0 8px 0;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 7vh;
    outline: 0;
    width: 100%;
}

#dash{
    appearance: none;
    background: #007acc;
    border: 0;
    border-radius: 10px;
    box-shadow: #085488 0 8px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 7vh;
    outline: 0;
    width: 100%;
}

button{
    appearance: auto;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}

#hint{
    text-align: center;
    font-size: 25px;
    color:#ffffff00;
    position:absolute;
    letter-spacing: 10px;
    transition: 500ms;
    top: 370px;
    left: 100px;
}

#drawer {
    width: 20vw;
    height: 310px;
    top:-400px;
    position:absolute;
    color:#ffffff;
    font-size: 18px;
    padding: 15px;
    padding-top: 80px;
    min-width: 380px;
    transition: 500ms;
}

#handle {
    width: 50px;
    background-color: #8787878d;
    height: 210px;
    top:-465px;
    position:absolute;
    left:max(23vw,430px);
    margin-top: 120px;
    border-radius: 10px;
    transition: 500ms;
    border: none;
}

#handleIcn {
    margin:0;
    position: absolute;
    align-items: center;
    top:80px;
    left:0px;
}

#handle:hover{
    scale:105%;
}

#handle:active{
    transition: 0ms;
    scale:100%;
}

#dash:hover, #dot:hover, .space:hover{
    background: #016bb2;
    transition: 500ms;
}

#dash:active, #dot:active, .space:active{
    background: #00558e;
    box-shadow: #085488 0 0  0;
    transition: 0ms;
    translate: 0 8px 0;
}

#settings {
    height: 70%;
    width: 15%;
    max-width: 300px;
    min-width: 250px;
    position:absolute;
    right: 10px;
    top: 90px;
}

.settings-box{
    width: 85%;
    height: 50px;
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.settings-box #text {
    text-align: right;
    font-size: 20px;
    color: white;
    position:absolute;
    padding-right: 10px;
    padding-top: 10px;
    width: 60%;
}

.settings-box #button:hover, .keybinds-box #button:hover{
    scale: 110%;
    transition: 500ms;
}

.settings-box #button:active, .keybinds-box #button:active{
    transition: 0ms;
    scale: 105%;
}

.settings-box #button {
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 30px;
}

#mute, #hints, #mode {
    transition: 200ms;
}

#content0, #content1{
    text-align: center;
    font-size: 104px;
    color:#ffffff;
    position:absolute;
    letter-spacing: 50px;
    transition: 500ms;
}

#display {
    position: relative;
    background-color:#1e1e1e;
    height: 77vh;
    width: 100vw;
}

#content0 {
    top:200px;
    left: 86px;
}

#content1 {
    top:2200px;
    left: 86px;
}

body > #hint{
    width: 150px;
    height: 50px;
    position:absolute;
    top:370px;
    left: 50px;
    font-size: 18px;
    text-align: center;
    color:black
    
}