@keyframes pulse {
    0%, 100% {
      color: #ffffff4b;
    }
    50% {
      color: #ffffff;
    }
  }

html, body {
    margin: 0; height: 100%; 
    font-family: "Poppins","Helvetica","Arial",sans-serif;
    font-weight: 800;
    overflow:hidden;
    display: flex;
    position: absolute;
}

#hotbar {
    align-items: stretch;
    background: #1e1e1e;
    bottom: 0;
    display:flex;
    flex-direction: column;
    height: 30vh;
    min-height: 227px;
    left: 0;
    position: fixed;
    width: 100%;
    
}

#score {
    position:absolute;
    bottom: 10px;
    left: 5px;
    color:#ffffff;
}
#loading {
    z-index: 1;
    background-color: #007acc;
    height: 100vh;
    width:100vw;
    position: absolute;
    transition: 1500ms;
    text-align: center;
    color: #ffffff;
    padding-top: 40vh;
    font-size: 10vh;
}
#subtext {
   font-size: 3.5vh;
   color: #ffffff;
   animation: pulse 2s infinite;
}
#output {
    background-color: #007acc;
    appearance: none;
    border: 0;
    bottom: 25vh;
    color: #ffffff;
    font-size: 4vh;
    font-weight: 700;
    height  : 8vh;
    padding: 5px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    visibility: visible;
    vertical-align: middle;
    margin-left: 0px;
    transition: 300ms;
}

#button-box {
    background-color: #1e1e1e;
    align-items: flex-end;
    justify-content: center;
    display: flex; 
    height: 100%;
    padding: 15px 20px 25px;
    gap: 1rem;
    flex-direction: row;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    
    margin-top: 32px;
}

.dot, .dash {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
    flex-basis: 100%;
}

#dot{
    appearance: none;
    align-items: center;
    background: #007acc;
    border: 0;
    border-radius: 10px;
    box-shadow: #085488 0 8px 0;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 7vh;
    outline: 0;
    width: 100%;
}

#dash{
    appearance: none;
    background: #007acc;
    border: 0;
    border-radius: 10px;
    box-shadow: #085488 0 8px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 7vh;
    outline: 0;
    width: 100%;
}

button{
    appearance: auto;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}



#dash:hover, #dot:hover{
    background: #016bb2;
    transition: 500ms;
}

#dash:active, #dot:active{
    background: #00558e;
    box-shadow: #085488 0 0  0;
    transition: 0ms;
    translate: 0 8px 0;
}

#settings {
    height: 70%;
    width: 15%;
    max-width: 300px;
    position:absolute;
    right: 10px;
    top: 7vh;
}

.settings-box{
    width: 85%;
    height: 50px;
    
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.settings-box #button:hover{
    scale: 110%;
    transition: 500ms;
}

.settings-box #button:active{
    transition: 0ms;
    scale: 105%;
}

.settings-box #text {
    text-align: right;
    font-size: 2.5vh;
    color: white;
    position:absolute;
    padding-right: 10px;
    width: 60%;
}

.settings-box #button {
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #1e1e1e;
    position: absolute;
    right: 30px;
}

#mute, #hints, #mode {
    transition: 200ms;
}




#content0, #content1{
    text-align: center;
    font-size: 104px;
    color:#ffffff;
    position:absolute;
    letter-spacing: 50px;
    transition: 500ms;
}


#display {
    position: relative;
    background-color:#1e1e1e;
    height: 70vh;
    width: 100vw;
}

#content0 {
    top:200px;
    left: 86px;
}
#content1 {
    top:1200px;
    left: 86px;
}



body > #hint{
    width: 150px;
    height: 50px;
    position:absolute;
    top:370px;
    left: 50px;
    font-size: 18px;
    text-align: center;
    color:black
    
}

